.transaction-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002147;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 20px;
}

.transaction-left {
  flex: 1 1 300px;
  min-width: 280px;
}

.transaction-right {
  flex: 2 1 500px;
  min-width: 320px;
  height: 100%;
}

.org-title {
  font-size: 2rem;
  font-weight: bold;
  color: gold;
  margin-bottom: 0.5rem;
}

.org-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ccc;
}

/* Mobile Responsive */
@media (max-width: 768px) {

  .transaction-wrapper {
    /* flex-direction: column; */
    padding: 1.5rem 1rem;
  }

  .transaction-left {
    text-align: center;
  }

  .org-title {
    font-size: 1.5rem;
  }

  .org-subtitle {
    font-size: 1rem;
  }
}
